body {
    font-family: $roboto-regular;
    color: $gray;
}

h1 {
    font-size: $title;
    line-height: 90%;
    font-family: $roboto-regular;
    margin-bottom: $spacing;
    span {
        font-size: $title-span;
        font-family: $roboto-regular;
    }
    strong {
        font-family: $roboto-bold;
    }
}

h2 {
    font-size: $sub-title;
    a {
        text-decoration: none;
        color: $purple;
        font-family: $roboto-regular;
        
        &:hover {
            text-decoration: none;
            color: $orange;
        }
    }
}

ul {
    padding-top: 35px;
    float: right;
    li {
        display: inline;
        list-style: none;
        margin: 0 5px;
    }
    li:last-child {
        margin-right: 0px;
    }
}
.row {
    margin: 0px !important;
}

.single-page {
    padding-top: 105px;
}

.logo {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);

    a {
    	background-image: url(../../images/logo-next-idea-big.png);
    	height: 62px;
    	width: 143px;
    	text-indent: -9999px;
	    overflow: hidden;
	    background-repeat: no-repeat;
	    background-position: left center;
	    display: inline-block;
	    background-size: contain;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
}

.banner {
	padding-top: 150px;
    // background: transparent url(../../images/banner-1.jpg) center no-repeat;
    min-height: 830px;
    color: $white;
}

.inbound {
    background-color: $bg-gray-light;
    padding-bottom: $padding-section;

    h1 {
        color: $purple;
        font-family: $roboto-regular;
    }
    h2 {
        color: $purple;
        font-family: $roboto-regular;
    }
}

#inbound-cases {
    background: $white url(../../images/bg-inbound-cases.jpg) top center no-repeat;
    min-height: 820px;

    h1 {
        font-family: $roboto-light;
        text-transform: uppercase;
        color: $purple;
        text-transform: uppercase;
        span {
            color: $gray;
            font-family: $roboto-light;
            text-transform: uppercase;
        }
    }
    h2 {
        font-family: $roboto-regular;
        color: $purple;
    }
    .content {
        padding-top: $padding-col-case;
    }
}

.cases-home {
    padding-bottom: $padding-section;
    h1 { color: $purple; }
}

.case-list {
    height: 610px;
    overflow: hidden;
    color: $white;

    h2 {
        a {
            color: $white;
        }
    }

    img {
        margin-top: -50px;
    }
}

.page-header {
    min-height: 740px;
    padding: 130px;
    margin: 0;
    border: 0;

    h1 {
        color: $white;
        text-align: center;
    }
}

.gradient-bg1 {
    background-image: linear-gradient(to right, #f42041, #efac6b);
}
.gradient-bg2 {
    background-image: linear-gradient(to right, #0ebfd9, #6653c7);
}
.gradient-bg3 {
    background-image: linear-gradient(to right, #0ed9a2, #c78453);
}

.cta {
    @extend .cases-home;

    h1 { color: $purple; }
}

.materiais {
    background-image: linear-gradient(to right, #8527dc, #29ccfb);
    color: $white;
    padding: $padding-section 0;
    p {
        font-family: $roboto-regular;
        font-size: 40px;
        line-height: 100%;
    }
    h1 {
        color: $white;
        font-family: $roboto-light;
        text-transform: uppercase;
        span {
            font-family: $roboto-light;
            text-transform: uppercase;
        }
    }
    h2 {
        color: $white;
        font-family: $roboto-light;
        text-transform: uppercase;
    }
}

.depoimentos {
    background: $white url(../../images/title-depoimentos.png) center $padding-section no-repeat;
    padding: $padding-section 0;
    min-height: 600px;
    h1 {
        color: $purple;
        font-family: $roboto-regular;
    }
    h2 {
        color: $purple;
        font-family: $roboto-regular;
    }

    .container {
        margin-top: 100px;
        height: 260px;
    }
}

.certificados {
    background-color: $bg-gray-light;
    padding: $padding-section 0;
    h1 {
        color: $purple;
        font-family: $roboto-light;
        text-transform: uppercase;
        span {
            color: $gray;
            font-family: $roboto-light;
            text-transform: uppercase;
        }
    }
    h2 {
        color: $purple;
        font-family: $roboto-light;
    }
}

.newsletter {
    background-image: linear-gradient(to right, #8527dc, #29ccfb);
    color: $white;
    padding: $padding-section 0;
    h1 {
        color: $white;
        font-family: $roboto-light;
        text-transform: uppercase;
    }
    h2 {
        color: $white;
        font-family: $roboto-light;
        text-transform: uppercase;
    }

    .btn-primary { margin-top: 20px }
}

.img-circle { max-width: 190px;}

.btns {
    background-image: url(../../images/btns-next-prev.png);
    background-repeat: no-repeat;
    display:block;
    width:50px;
    height:50px;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    margin-right:5px;
}

.slidesjs-container {
    height: 260px !important;
}

.slidesjs-control {
    height: 280px !important;
}

a {
    &.slidesjs-next {
        position: absolute;
        top: 20%;
        right: 0;
        @extend .btns;
        margin-right:10px;
        background-position: -52px 0;

        &:hover {
            background-position: -52px -52px;
        }
    }
    &.slidesjs-previous {
        position: absolute;
        top: 20%;
        left: 0;
        @extend .btns;
        background-position: 0 0;

        &:hover {
            background-position: 0 -52px;
        }
    }
    &.slidesjs-play {
        @extend .btns;
        width:15px;
        background-position: -25px 0;

        &:hover {
            background-position: -25px -18px;
        }
    }
    &.slidesjs-stop {
        @extend .btns;
        width:18px;
        background-position: -41px 0;

        &:hover {
            background-position: -41px -18px;
        }
    }
}

.slidesjs-pagination {
    padding: 0;
    float: none;
    margin: 0 auto;
    left: 50%;
    position: relative;
    width: auto;

    li {
        float: left;
        margin: 0 1px;

        a {
            display: block;
            width: 13px;
            height: 0;
            padding-top: 13px;
            background-image: url(../../images/pagination.png);
            background-position: 0 0;
            float: left;
            overflow: hidden;

            &.active {
                background-position: 0 -13px;
            }
            &:hover{
                background-position: 0 -26px;

                &.active {
                    background-position: 0 -13px;
                }
            }
        }
    }
}

.col-50 {
    width: 50%;
    float: left;

    img {
        float: right;
        margin-right: 35px;
    }
}

.col-40 {
    width: 40%;
    float: left;
    padding-top: 37px;

    figure {
        position: absolute;
    }
}

.img-quotes {
    position: relative;
    top: -10px;
    left: -60px;
}

#slides {
    position: relative;
    display: none;
    height: 280px;

    .slidesjs-navigation {
        margin-top:5px;
    }

    p {
        font-family: $roboto-regular;
        font-size: 16px;
    }

    a {
        font-family: $roboto-bold;
        font-size: 18px;
        color: $purple;

        &:link {
            color: $purple;
        }
        &:visited {
            color: $purple;
        }
        &:hover {
            color: $purple;
            text-decoration: underline;
        }
        &:active {
            color: $purple;
            text-decoration: underline;
        }
    }
}

.navbar {
    overflow: hidden
}

footer {
    background: $white url(../../images/title-contato.png) center 210px no-repeat;
    padding: 55px 0;

    ul {
        width: auto;
    }

    li {
        text-align: center;
        float: left;
    }

    .col-md-8 {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: $md-title;
        span {
            font-size: $md-title-span;
        }
    }

    h2 {
        font-size: $md-sub-title;
    }

    .banner {
        min-height: auto;
    }

    .materiais {
        p {
            font-size: 15px;
        }
    }

    #inbound-cases {
        .content{
            padding-top: 0px;
        }
    }
}