.header-blog {}

.blog-archive {
	section {
		background-color: $white;
		border-radius: 5px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	a {
		font-family: $roboto-regular;
		color: $orange;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

		&:visited {
			font-family: $roboto-regular;
			color: $orange;
			text-decoration: none;
		}
	}

	hr {
		margin: 0;
	    height: 3px;
	    background-color: #000;
	    width: 10%;
	}

	h1 {
		margin: 25px 0;
		font-size: 32px;
		font-family: $roboto-bold;
		color: $purple;
		text-decoration: none;
		line-height: 100%;

		a {
			font-family: $roboto-bold;
			font-size: 22px;
			color: $purple;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&:visited {
				font-family: $roboto-bold;
				font-size: 22px;
				color: $purple;
				text-decoration: none;
			}
		}
	}

	form {
		label {
			display: none;
		}
	}

	input[type="text"] {
        margin-bottom: 10px;
        padding: 12px;
        width: 100%;
        border-radius: 4px;
        border: 2px solid $white;
        background-color: $white;
        font-family: $roboto-regular;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:focus {
            border: 2px solid $purple;
            outline: none;
        }
    }

    input[type="email"] {
        padding: 12px;
        width: 100%;
        border-radius: 4px;
        border: 2px solid $white;
        background-color: $white;
        font-family: $roboto-regular;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:focus {
            border: 2px solid $purple;
            outline: none;
        }
    }

	.chamada-news {
		padding-right: 50px; 
		width: 550px;
		float: left;
		color: #fff;

		h1 {
			font-family: $roboto-bold;
			font-size: 67px;
		}
	}

	.form-news {
		width: 400px;
		float: left;
		font-family: $roboto-light;
		font-size: 20px;
	}

	.conteudo {
		padding: 0 25px;
		font-family: $roboto-regular;
		font-size: 14px;
		color: #636770;
	}

	.title-categoria {
		margin-top: 35px;
		font-family: $roboto-regular;
		font-size: 16px;
		color: #000;
		text-transform: uppercase;

		a {
			font-family: $roboto-regular;
			font-size: 16px;
			color: #000;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.crumbs {
		font-family: $roboto-regular;
		color: $purple;
		font-size: 14px;
		text-transform: uppercase;

		hr {
			margin: 0;
		    height: 7px;
		    background-color: $purple;
		    width: 5%;
		}

		ul {
			float: none;
			margin: 40px 0 20px;
			padding: 0;

			li {
				margin: 0 5px 0 0;

				a {
					font-family: $roboto-bold;
					color: $purple;
					font-size: 14px;
					text-transform: uppercase;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

					&:visited {
						font-family: $roboto-bold;
						color: $purple;
						text-decoration: none;
					}
				}
			}
		}
	}

	.btn-purple {
		text-decoration: none;
		&:visited { color: $white; text-decoration: none }
	}
}

.sidebar {
	h3 {
		font-family: $roboto-bold;
		font-size: 20px;
		color: #4A4177;
		text-transform: uppercase;
	}

	.row {
		margin-bottom: 25px !important;
	}

	.col-md-12 { padding: 0; }

	.content {
		background-color: $white;
		padding: 1px 15px;
		border-radius: 5px;
	}

	.btn-primary {
		margin: 20px 0;
	}

	input[type="text"] {
		border: 1px solid #CCCED8;

		&:focus {
            border: 1px solid $purple;
            outline: none;
        }
	}

	input[type="email"] {
		border: 1px solid #CCCED8;

		&:focus {
            border: 1px solid $purple;
            outline: none;
        }
	}

	ul {
		float: none;
		margin: 0;
		padding: 0;
	}

	li {
        display: block;
        margin-right: 0px;
        margin-bottom: 10px;

        a {
            display: inline;
        }
    }

    .realty_widget {
    	margin: 0px;
    	padding: 10px 0;

		li {
			display: block;
		    margin: 0px 0px 15px 0;
		    padding: 0px 0px 10px;
		    border-bottom: 1px solid #ccc;
    	}
    }
}

.border-radius-top {
	border-radius: 5px 5px 0 0;
}

.tb-post-time {
	font-family: $roboto-regular;
	font-size: 13px;
	color: #9F9F9F;
}

@media screen and (min-width: 992px) {
	.header-blog {
		.container {
			width: 960px;
			padding: 0;
		}
	}
	.blog-archive {
		background-color: #F3F5FB;

		.container {
			width: 960px;
			padding: 0;
		}

		.col-blog-esq {
			position: relative;
			float: left;
			width: 630px;
			margin-right: 20px;
		}

		.col-blog-dir {
			margin-top: 30px;
			position: relative;
			float: left;
			width: 305px;
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray;
}