.header-blog {}

.blog-archive {
	section {
		background-color: $white;
		border-radius: 5px;
		margin-top: 30px;
		margin-bottom: 30px;

		.saboxplugin-wrap {
			border: 0;
			border-color: $white;

			.saboxplugin-authorname {
				a {
					font-family: $roboto-bold;
					font-size: 24px;
					color: $orange;
				}
			}

			.saboxplugin-socials {
				background-color: $white;
				border-radius: 5px;
				z-index: 0;
			}

			.escrito-por {
				display: block;
				font-size: 16px;
				color: #9F9F9F;
			}

			.author {
				font-size: 12px;
				line-height: 100%;
			}
		}
	}

	a {
		font-family: $roboto-regular;
		color: $orange;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

		&:visited {
			font-family: $roboto-regular;
			color: $orange;
			text-decoration: none;
		}
	}

	hr {
		margin: 0;
	    height: 3px;
	    background-color: #000;
	    width: 10%;
	}

	h1 {
		margin: 25px 0;
		font-size: 32px;
		font-family: $roboto-bold;
		color: $orange;
		text-decoration: none;
		line-height: 100%;

		a {
			font-family: $roboto-bold;
			font-size: 22px;
			color: $orange;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&:visited {
				font-family: $roboto-bold;
				font-size: 22px;
				color: $orange;
				text-decoration: none;
			}
		}
	}

	form {
		label {
			display: none;
		}
	}

	input[type="text"] {
        margin-bottom: 10px;
        padding: 12px;
        width: 100%;
        border-radius: 4px;
        border: 2px solid $white;
        background-color: $white;
        font-family: $roboto-regular;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:focus {
            border: 2px solid $orange;
            outline: none;
        }
    }

    input[type="email"] {
        padding: 12px;
        width: 100%;
        border-radius: 4px;
        border: 2px solid $white;
        background-color: $white;
        font-family: $roboto-regular;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:focus {
            border: 2px solid $orange;
            outline: none;
        }
    }

	.chamada-news {
		padding-right: 50px;
		margin-top: -20px;
		width: 100%;
		float: left;
		color: #fff;

		h1 {
			font-family: 'museo-300';
			font-size: 60px;
			color: #fff;

			strong {
				font-family: 'museo-900';
				font-size: 60px;
				color: #fff;
				font-weight: normal;
			}
		}

		h2 {
			margin-top: 0;
			font-family: $roboto-light;
			font-size: 20px;
			color: #fff;
		}
	}

	.form-news {
		width: 100%;
		float: left;
		font-family: $roboto-light;
		font-size: 12px;
	}

	.conteudo {
		padding: 0 25px 30px;
		font-family: $roboto-regular;
		font-size: 14px;
		color: #636770;
	}

	.title-categoria {
		margin-top: 35px;
		font-family: $roboto-regular;
		font-size: 16px;
		color: #000;
		text-transform: uppercase;

		a {
			font-family: $roboto-regular;
			font-size: 16px;
			color: #000;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.crumbs {
		font-family: $roboto-regular;
		color: $orange;
		font-size: 14px;
		text-transform: uppercase;

		hr {
			margin: 0;
		    height: 7px;
		    background-color: $orange;
		    width: 5%;
		}

		ul {
			float: none;
			margin: 40px 0 20px;
			padding: 0;

			li {
				margin: 0 5px 0 0;

				a {
					font-family: $roboto-bold;
					color: $orange;
					font-size: 14px;
					text-transform: uppercase;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

					&:visited {
						font-family: $roboto-bold;
						color: $orange;
						text-decoration: none;
					}
				}
			}
		}
	}

	.btn-purple {
		text-decoration: none;
		color: $white !important;
		&:visited { color: $white !important; text-decoration: none }
	}

	.btn-orange {
		text-decoration: none;
		color: $white !important;
		&:visited { color: $white !important; text-decoration: none }
	}

	.form-comment {
		background-color: #F3F5FB;

		h3 {
			margin-bottom: 20px;
			font-family: $roboto-bold;
			font-size: 26px;
			color: #636770;

			i {
				margin-right: 10px;
				color: $orange;
				font-size: 21px;
			}
		}

		textarea {
			width: 100%;
			height: 120px;
			margin-top: 18px;
			padding: 10px;
			border-radius: 4px;
			border: 2px solid $white;
			-webkit-transition: all .2s ease-out;
	        -moz-transition: all .2s ease-out;
	        -ms-transition: all .2s ease-out;
	        -o-transition: all .2s ease-out;
	        transition: all .2s ease-out;

	        &:focus {
	            border: 2px solid $orange;
	            outline: none;
	        }
		}

		input[type="submit"] {
			float: right;
			border: 0;
		    margin: 10px 0;
		    border-radius: 5px;
		    padding: 15px 25px;
		    font-family: $roboto-regular;
		    font-size: 16px;
		    text-transform: uppercase;
		    color: $white;
		    background-color: $orange;
		    border-color: $orange;
		    -webkit-transition: all .2s ease-out;
		    -moz-transition: all .2s ease-out;
		    -ms-transition: all .2s ease-out;
		    -o-transition: all .2s ease-out;
		    transition: all .2s ease-out;

		    &:hover {
			    background-color: $white !important;
			    border-color: $white !important;
		    }
		}
	}
}

.sidebar {
	padding-top: 5px;
	h3 {
		font-family: $roboto-bold;
		font-size: 20px;
		color: #24222B;
		text-transform: uppercase;
	}

	.row {
		margin-bottom: 25px !important;
	}

	.col-md-12 { padding: 0; }

	.content {
		background-color: $white;
		padding: 1px 15px;
		border-radius: 5px;
	}

	.btn-primary {
		margin: 20px 0;
	}

	input[type="text"] {
		border: 1px solid #CCCED8;

		&:focus {
            border: 1px solid $orange;
            outline: none;
        }
	}

	input[type="email"] {
		border: 1px solid #CCCED8;

		&:focus {
            border: 1px solid $orange;
            outline: none;
        }
	}

	ul {
		float: none;
		margin: 25px 0 0;
		padding: 0;
	}

	li {
        display: block;
        margin: 0 0 10px 0;

        a {
            display: inline;
            font-family: $roboto-regular;
            font-size: 16px;
            color: #485056;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
            	border-bottom: 1px solid $orange;
            }

            &:visited {
            	display: inline;
	            font-family: $roboto-regular;
	            font-size: 16px;
	            color: #485056;
	            text-decoration: none;
            }
        }

        &.cat-item {
        	a {
        		&:before {
	            	padding-right: 10px;
	            	font-family: FontAwesome;
	            	content: '\f054';
	            	font-size: 13px;
	            	color: $orange;
	            }
        	}
        }
    }

    // .wpcf7 {
    // 	form {
    // 		background-color: #000;
    // 	}
    // }
}

.sb-newsletter {
	text-align: center;

	.content {
		h3 {
			font-family: $roboto-light;
			font-size: 28px;
			text-transform: none;
			color: #FFF;

			strong {
				font-family: $roboto-bold;
			}
		}
		background: #333C41 url(../../images/bg-newsletter-sidebar.jpg) no-repeat;
	}
}

.tags {
	padding: 15px 25px;
	font-family: $roboto-bold;
	font-size: 18px;
	color: $gray;

	i {
		transform: scaleX(-1);
		color: $orange;
		font-size: 22px;
		margin-right: 8px;
	}

	a {
		font-family: $roboto-bold;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
		color: $gray;
		border-radius: 5px;
	    background-color: #F3F5FB;
	    padding: 5px 8px;
	    margin: 0 10px;

	    &:hover {
	    	background-color: $purple;
	    	color: $white;
	    	-webkit-transition: all .2s ease-out;
		    -moz-transition: all .2s ease-out;
		    -ms-transition: all .2s ease-out;
		    -o-transition: all .2s ease-out;
		    transition: all .2s ease-out;
	    }

	    &:visited {
	    	color: $gray;
	    	&:hover {color: $white;}
	    }
	}
}

.realty_widget {
	margin: 0px;
	padding: 10px 0;

	.img-thumb {
		float: left;
		margin-right: 10px;
		width: 90px;
		height: 90px;
	}

	li {
		display: block;
	    margin: 0px 0px 15px 0;
	    padding: 0px 0px 10px;
	    height: 105px;
	    border-bottom: 1px solid #ccc;

	    a {
	    	margin-bottom: 10px;
	    	display: block;
	    	font-family: $roboto-regular;
	    	font-size: 16px;
	    	color: $gray;
	    	text-decoration: none;
	    	text-transform: initial !important;
	    	line-height: 100%;

	    	&:visited { color: $gray; }
	    	&:hover { text-decoration: underline; border: 0;}
	    	&:before {
            	content: '';
            }
	    }

	    time {
	    	color: #B6B5B5;
	    	text-transform: uppercase;
	    }
	}
}

#comments {
	article {
		margin-bottom: 20px;
	}

	figure {
		display: inline-block;
		float: left;
		margin-right: 15px;

		img {
			border-radius: 5px;
		}
	}

	.author-name {
		float: left;
		width: 50%;
		font-family: $roboto-bold;
		font-size: 16px;
		color: $gray;
	}

	time {
		float: left;
		width: 38%;
		text-align: right;
		font-family: $roboto-bold;
		font-size: 16px;
		color: $gray;
	}

	.comentario {
		float: left;
		margin-top: 10px;
		width: 85%;
		font-family: $roboto-regular;
		font-size: 14px;
		color: $gray;
	}

	footer {
	    display: block;
	    margin: 10px 0 10px 50px;
	    padding: 0;
	    float: left;
	    background-color: #F3F5FB;
	}

	.comment-reply-link {
		font-family: $roboto-regular;
		font-size: 14px;
		text-decoration: none;
		color: $white;
		border-radius: 5px;
	    background-color: #4A4177;
	    padding: 5px 15px;
	    margin: 0 10px;

	    &:hover {
	    	background-color: $orange;
	    	color: $white;
	    	-webkit-transition: all .2s ease-out;
		    -moz-transition: all .2s ease-out;
		    -ms-transition: all .2s ease-out;
		    -o-transition: all .2s ease-out;
		    transition: all .2s ease-out;
	    }

	    &:visited {
	    	color: $white;
	    	&:hover {color: $white;}
	    }
	}
}

.border-radius-top {
	border-radius: 5px 5px 0 0;
}

.tb-post-time {
	font-family: $roboto-regular;
	font-size: 13px;
	text-transform: uppercase;
	color: #9F9F9F;
}

.author {
	font-size: 13px;
	color: #9F9F9F;
}

.div-social {
	padding-top: 20px;
	background-color: $white;
	border-radius: 8px;
	height: 60px;

	h1 {
		float: left;
		margin: 0 50px 0 22px;
		font-family: $roboto-bold;
		font-size: 20px;
		color: $gray;
	}

	.icones { float: left; margin-right: 25px; }
}

@media screen and (min-width: 992px) {
	.header-blog {
		.container {
			width: 960px;
			padding: 0;
		}
	}
	.blog-archive {
		background-color: #F3F5FB;

		.container {
			width: 960px;
			padding: 0;
		}

		.col-blog-esq {
			position: relative;
			float: left;
			width: 630px;
			margin-right: 20px;
		}

		.col-blog-dir {
			margin-top: 30px;
			position: relative;
			float: left;
			width: 305px;
		}

		.chamada-news {
			width: 550px;
			h1 {
				margin-bottom: 10px;
				font-size: 67px;
			}
		}

		.form-news {
			width: 400px;
			font-size: 12px;
		}
	}
}

#input-search { float: left; }

#searchsubmit {
	float: right;
    position: absolute;
    background: transparent;
    border-radius: 0 5px 5px 0;
    border: 0;
    height: 48px;
    right: 15px;
    width: 50px;
    font-size: 20px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

    i { transform: scaleX(-1); }

    &:hover {
    	background-color: $orange;
    	color: $white;
    }
}

.pagination {
	.current {
		background-color: #4A4177;
		padding: 13px 20px 15px;
		color: $white;
	}

	a {
		font-family: $roboto-medium;
		font-size: 16px;
		background-color: $white;
		padding: 14px 20px 16px;
		text-decoration: none;
		color: #4A4177;
		-webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

		&:hover {
			background-color: #4A4177;
			color: $white;
		}

		&:visited {
			background-color: $white;
			text-decoration: none;
			color: #4A4177;
			&:hover {
				background-color: #4A4177;
				color: $white;
			}
		}
	}

	.btn-prev {
		text-transform: uppercase;
	}
	.btn-next {
		text-transform: uppercase;
		i {
			padding-right: 20px;
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray;
}