@font-face {
    font-family: 'museo-100';
    src: url('../fonts/MuseoSlab-100.eot');
    src: url('../fonts/MuseoSlab-100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSlab-100.woff') format('woff'),
         url('../fonts/MuseoSlab-100.ttf') format('truetype'),
         url('../fonts/MuseoSlab-100.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo-300';
    src: url('../fonts/MuseoSlab-300.eot');
    src: url('../fonts/MuseoSlab-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSlab-300.woff') format('woff'),
         url('../fonts/MuseoSlab-300.ttf') format('truetype'),
         url('../fonts/MuseoSlab-300.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo-500';
    src: url('../fonts/MuseoSlab-500.eot');
    src: url('../fonts/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSlab-500.woff') format('woff'),
         url('../fonts/MuseoSlab-500.ttf') format('truetype'),
         url('../fonts/MuseoSlab-500.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo-700';
    src: url('../fonts/MuseoSlab-700.eot');
    src: url('../fonts/MuseoSlab-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSlab-700.woff') format('woff'),
         url('../fonts/MuseoSlab-700.ttf') format('truetype'),
         url('../fonts/MuseoSlab-700.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo-900';
    src: url('../fonts/MuseoSlab-900.eot');
    src: url('../fonts/MuseoSlab-900.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSlab-900.woff') format('woff'),
         url('../fonts/MuseoSlab-900.ttf') format('truetype'),
         url('../fonts/MuseoSlab-900.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo-1000';
    src: url('../fonts/MuseoSlab-1000.eot');
    src: url('../fonts/MuseoSlab-1000.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSlab-1000.woff') format('woff'),
         url('../fonts/MuseoSlab-1000.ttf') format('truetype'),
         url('../fonts/MuseoSlab-1000.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
