$padding-section: 70px;
$padding-col-case: 120px;
$title: 70px;
$title-span: 50px;
$sub-title: 26px;

$md-title: 30px;
$md-title-span: 20px;
$md-sub-title: 12px;

$sm-title: 17px;
$sm-title-span: 14px;
$sm-sub-title: 12px;

////
// Fonts
////
$roboto-regular: roboto-regular, arial, helvetica, verdana, tahoma, sans-serif;
$roboto-bold: roboto-bold, arial, helvetica, verdana, tahoma, sans-serif;
$roboto-light: roboto-light, arial, helvetica, verdana, tahoma, sans-serif;
$roboto-italic: roboto-italic, arial, helvetica, verdana, tahoma, sans-serif;

////
// Colors
////
$white: #FFF;
$red: #FF5252;
$purple: #6653C7;
$blue-light: #0ED6F4;
$gray: #3A3C44;
$gray-light: #44444B;
$orange: #FB3B0E;
$orange-hover: #F89406;

////
// Backgrounds Colors
////
$bg-gray-light: #F3F5FB;

$bg-color-default: #F7F9FB;
$border-diagonal-color: rgba(140, 153, 191, .20);
$border-color-default: $border-diagonal-color;