.btn-primary {
	margin: $spacing 0 20px 0;
	font-family: $roboto-regular;
	font-size: 16px;
	text-transform: uppercase;
    color: $white;
    background-color: $orange;
    border-color: $orange;

    &:active {
    	@extend .btn-primary;
    }
    &:focus {
    	@extend .btn-primary;
    }
    &:visited {
    	@extend .btn-primary;
    }

	span {
		position: relative;
		left: 0;
		-webkit-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -ms-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}
	i {
		margin-left: 10px;
		-webkit-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -ms-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	}

    &:hover {
    	background-color: $white !important;
    	border-color: $white !important;
    	left: -10px;

    	i {
    		margin-left: 20px;
    		color: $orange;
    	}
    	span {
    		left: -5px;
    		color: $orange;
    	}
    }
}

.btn-blue-light {
    margin: 20px 0;
    font-family: $roboto-regular;
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    background-color: $blue-light;
    border-color: $blue-light;

    &:active {
        @extend .btn-blue-light;
    }
    &:focus {
        @extend .btn-blue-light;
    }
    &:visited {
        @extend .btn-blue-light;
    }

    span {
        position: relative;
        left: 0;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
    i {
        margin-left: 10px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }

    &:hover {
        background-color: $white !important;
        border-color: $white !important;
        left: -10px;

        i {
            margin-left: 20px;
            color: $orange;
        }
        span {
            left: -5px;
            color: $orange;
        }
    }
}

.btn-ler-mais {
    background-color: none !important;
    border: 0 !important;
    margin: 20px 0;
    padding-left: 0;
    font-family: $roboto-regular;
    font-size: 16px;
    text-transform: uppercase;
    color: $orange;

    &:active {
        @extend .btn-ler-mais;
    }
    &:focus {
        @extend .btn-ler-mais;
    }
    &:visited {
        @extend .btn-ler-mais;
    }

    span {
        position: relative;
        left: 0;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }

    &:hover {
        left: -10px;

        i {
            color: $purple;
        }
        span {
            left: 10px;
            color: $purple;
        }
    }
}

.case-list {
    .content {
        padding-top: 110px;
    }
    
    .btn-ler-mais {
        @extend .btn-ler-mais;
        color: $white;

        &:hover {
            left: -10px;

            i {
                color: $white !important;
            }
            span {
                left: 10px;
                color: $white !important;
            }
        }
    }
}

.more-link {
    display: none;
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: $button-width;
    height: $button-height;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background $button-transistion-duration;

    span {
        display: block;
        position: absolute;
        top: $bar-top;
        left: $button-pad;
        right: $button-pad;
        height: $bar-thickness;
        background: white;

        &::before {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: $bar-thickness;
            background-color: #fff;
            content: "";
            top: -10px;
        }
        &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: $bar-thickness;
            background-color: #fff;
            content: "";
            bottom: -10px;
        }
    }

    &:focus {
        outline: none;
    }
}

.c-hamburger--htx {
    background-color: $button-color;

    span {
        transition: background 0s $button-transistion-duration;

        &::before {
            transition-duration: $button-transistion-duration, $button-transistion-duration;
            transition-delay: $button-transistion-duration, 0s;
            transition-property: top, transform;
        }
        &::after {
            transition-duration: $button-transistion-duration, $button-transistion-duration;
            transition-delay: $button-transistion-duration, 0s;
            transition-property: bottom, transform;
        }
    }

    &.is-active {
        background-color: $button-color-active;

        span {
            background: none;

            &::before {
                top: 0;
                transform: rotate(45deg);
                transition-delay: 0s, $button-transistion-duration;
            }
            &::after {
                bottom: 0;
                transform: rotate(-45deg);
                transition-delay: 0s, $button-transistion-duration;
            }
        }
    }
}

@media (max-width: 768px) {
    .btn-ler-mais {
        font-size: 14px;
    }
    .btn-blue-light {
        font-size: 14px;
    }
    .btn-primary {
        font-size: 14px;
    }
}